<div class="header"><span class="title-part-one">Message</span><span class="title-part-two">Box</span></div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <span class="navbar-brand d-flex flex-fill"> <%= @user.name %> </span>
  <ul class="navbar-nav justify-content-center d-flex flex-fill">
    <li class="nav-item">
      <%= link_to "New Message", new_message_path, class: "nav-link load_new_message" %>
    </li>
    <li class="nav-item">
      <%= link_to "Inbox", inbox_path(@user), class: "nav-link load_inbox" %>
    </li>
    <li class="nav-item">
      <%= link_to "Sent", sent_messages_path(@user), class: "nav-link load_outbox" %>
    </li>
    <li class="nav-item">
      <%= link_to "Logout", "/logout", method: :post, class: "nav-link" %>
    </li>
  </ul>
</nav>


<div id="mainbox" class="container main-box">
</div>
